<h1>Edit Exam Detail</h1>

<%= form_for @exam, :url =>{:action => "update", :id =>@exam} do |f| %>

<p>Activity: <%= f.text_field 'activity' %></p>
<p>Patient: <%= f.text_field  'patient' %></p>
<p>Srate: <%= f.text_field  'srate' %></p>
<p>Date: <%= f.text_field  'date' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>