<% provide(:title, 'Edycja badania') %>

<h1>Edycja dane nagłówkowe</h1>

<div class="container-fluid edit">
	<div class="row" style="margin: 15px 0px;">
	<div class="col-xs-6 col-sm-6 col-md-3">
			<%= form_for @exam, :url =>{:action => "update", :id =>@exam} do |f| %>
		<div class="">
			<div class="form-group" align="center">
			<%= f.label :patient, "ID Pacjenta" %><br>
			<%= f.text_field  'patient' %>
			</div></div>
		<div class="">
			<div class="form-group" align="center">
			<%= f.label :activity, "Badanie" %><br>
        <%= f.select 'activity', ExamsController::BADANIA, {:include_blank => true} %>
			</div></div>
		<div class="">
			<div class="form-group" align="center">
			<%= f.label :first_name, "Imię" %><br>
			<%= f.text_field  'first_name' %>
			</div></div>
		<div class="">
			<div class="form-group" align="center">
			<%= f.label :last_name, "Nazwisko " %><br>
			<%= f.text_field  'last_name' %>
		</div></div>
		</div>
	</div>
	<div class="row" style="margin: 15px 0px;">	
		<div class="col-xs-6 col-sm-6 col-md-3">
			<%= f.submit "Zapisz zmiany", class: "btn btn-steel-blue" %>
			<% end %>
		</div>		
	</div>
	<p style="margin: 0px 0px 0px 20px;"><%= link_to 'Powrót', {:action => 'list' } %></p>
</div>