<% provide(:title, 'Edycja badania') %>

<h1>Edit Exam Detail</h1>

<%= form_for @exam, :url =>{:action => "update", :id =>@exam} do |f| %>

<p>Patient: <%= f.text_field  'patient' %></p>
<p>Activity: <%= f.text_field 'activity' %></p>
<p>First Name: <%= f.text_field  'first_name' %></p>
<p>Last Name: <%= f.text_field  'last_name' %></p>

<%= f.submit "Save changes" %>
<% end %>

<%= link_to 'Back', {:action => 'list' } %>