<h1>Przegląd badań</h1>

<% if @exams.blank? %>
    <p>W bazie danych nie ma żadnego rekordu.</p>
    <p><%= link_to "Dodaj nowe badanie", {:action => 'new' }%></p>

<% else %>
    <p>Opcje wyszukiwania:<br>not yet implemented</p><br>

    <%= form_tag(action: "delete") do %>

      <table class="table table-hover" id="exams">

        <thead>
          <tr>
            <th></th>
            <th>ID pacjenta</th>
            <th>ID badania</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data wysłania pliku</th>
            <th></th>
          </tr>
        </thead>

        <tbody>

         <% @exams.each do |c| %>
            <tr>
              <td><%= check_box_tag "deleteRecord[]", c.id%></td>
              <td><%= c.patient %></td>
              <td><%= c.activity %></td>
              <td><%= c.first_name %></td>
              <td><%= c.last_name %></td>
              <td><%= c.created_at %></td>
              <td><%= link_to "Wyświetl", {:action => 'show', :id => c.id} %></td>
              <td><%= link_to "Edytuj", {:action => 'edit', :id => c.id} %></td>
            </tr>
         <% end %>

         </tbody>

      </table>

      <%= submit_tag "Usuń zaznaczone" %>
    <% end %>

<% end %>
