<% provide(:title, 'Dodaj badanie') %>

<div class="container">
  <h1>Dodaj badanie</h1>
  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <%= form_for @exam, html: { multipart: true }, url: {action: "create"} do |f| %>
          <br>
          <p><%= f.file_field :attachment, accept: ".TXT", required: true, multiple: true %></p>
          <output id="fileList"></output><hr>
          <div class=" col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            <p><%= f.submit "Zapisz", id: "form-submit", class: "btn btn-col btn-block btn-steel-blue" %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>
<p style="margin-left: 0px; margin-top: 20px;"><%= link_to 'Back', {:action => 'list'} %></p>


<!-- Modal -->
<div class="modal" id="modal" <% if params[:error] == "true" %> style="display:block" <% end %> >
  <div id="loaderDiv">
    <div id="loading" <% if params[:error] == "true" %> class="hidden" <% end %> >
      <h1>Trwa wysyłanie plików</h1>
      <h4>Prosimy o zachowanie cierpliwości...</h4>
      <div id="animation">
        <div id="box"></div>
        <div id="hill"></div>
      </div>
    </div>
    <div>
      <div id="failure" <% if params[:error] != "true" %> class="hidden" <% end %> >
        <h1>Wystąpił błąd!</h1>
        <h4>Sprawdź czy pliki zawierają poprawny format danych oraz czy masz połączenie z Internetem.</h4><br>
        <div class="col-sm-6 col-sm-offset-3">
          <input type="button" id="failure-btn"class="btn btn-col btn-block btn-steel-blue" value="Powrót do menu">
          <p><%= link_to 'Back', {:action => 'list'} %></p>
        </div>
      </div>
    </div>
  </div>

</div>


<script>

  var formButton = document.getElementById("form-submit");
  var headerLength = 4;

  var modalDiv = document.getElementById("modal");
  var btnFailure = document.getElementById("failure-btn");

  var modalLoading = document.getElementById("loading");
  var modalFailure = document.getElementById("failure");

  document.getElementById("new_exam").addEventListener('submit',function(event){
    modalDiv.style.display="block";
  });

  btnFailure.addEventListener('click', function(event){
    modalDiv.style.display="none";
    modalFailure.classList.add("hidden");
    modalLoading.classList.remove("hidden");
  })

  function handleFileSelect(evt) {

    var files = evt.target.files; // files is a FileList of File objects
    var output = [];

    document.getElementById('fileList').innerHTML = ''; // clear when file upload was cancelled
    enableFormButton('reset');

    for (var i = 0, f; f = files[i]; i++) {

      var errorCounter = 0;
      var reader = new FileReader();
      var fileBegining = "";
      var headerString = "";

      reader.onload = (function(theFile) {
        return function(e) {
          fileBegining = e.target.result;
          headerString = fileBegining.substring(0, fileBegining.indexOf("\n"));

          if (headerString.split(",").length == headerLength) {
            output.push(
                '<li>',
                '<strong>', theFile.name, '</strong>  - ' + headerString,
                '</li>');
            document.getElementById('fileList').innerHTML = '<ul>' + output.join('') + '</ul>';
          } else {
            errorCounter++;
            output.push(
                "<li class='text-danger'>",
                '<strong>', theFile.name, '</strong>  - ' + 'plik zawiera nieprawidłowy format nagłówka',
                '</li>');
            document.getElementById('fileList').innerHTML = '<ul>' + output.join('') + '</ul>';
          }

          if (errorCounter){
            enableFormButton('error');
          }
          else {
            enableFormButton('ok');
          }
        };
      })(f);

      // Read first 50 bytes
      var blob = f.slice(0, 50);
      reader.readAsText(blob);
    }
  }

  function enableFormButton(actionString){
    switch(actionString){
      case 'ok':
        formButton.disabled = false;
        formButton.value = "Wyślij plik";
        formButton.classList.remove("btn-danger");
        formButton.classList.add("btn-steel-blue");
        break;
      case 'error':
        formButton.disabled = true;
        formButton.value = "Nieprawidłowy plik";
        formButton.classList.remove("btn-steel-blue");
        formButton.classList.add("btn-danger");
        break;
      case 'reset':
        formButton.disabled = true;
        formButton.value = "Proszę wybrać plik";
        formButton.classList.add("btn-steel-blue");
        break;
    }
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
  }

  window.addEventListener('dragover', handleDragOver, false);
  window.addEventListener('drop', handleDragOver, false);
  document.getElementById('new_exam').addEventListener('change',handleFileSelect,false);

</script>
