<h1><%= @exam.patient %></h1>

<p>
   <strong>Act: </strong> <%= @exam.activity %><br />
   <strong>Sr:</strong> <%= @exam.srate %><br />
   <strong>Date:</strong> <%= @exam.date %><br />
</p>

<hr />

<%
  dataX = []
  dataY = []
  dataZ = []

  @exam.samples.each do |sample|
    dataX.push([sample.time,sample.ax])
    dataY.push([sample.time,sample.ay])
    dataZ.push([sample.time,sample.az])
  end

%>

<%= line_chart dataX, library: {
    # google charts options
} %>

<%= link_to 'Back', {:action => 'list'} %>