<h1><%= @exam.patient %></h1>

<p>
   <strong>Act: </strong> <%= @exam.activity %><br />
   <strong>Sr:</strong> <%= @exam.srate %><br />
   <strong>Date:</strong> <%= @exam.date %><br />
</p>

<hr />

<%= link_to 'Back', {:action => 'list'} %>