<h1><%= @exam.patient %></h1>

<p>
   <strong>Act: </strong> <%= @exam.activity %><br />
   <strong>Sr:</strong> <%= @exam.srate %><br />
   <strong>Date:</strong> <%= @exam.date %><br />
</p>

<hr />

<%
  dataX = []
  dataY = []
  dataZ = []

  @exam.samples.each do |sample|
    time = 0.001 * sample.time;
    dataX.push([time, sample.ax])
    dataY.push([time, sample.ay])
    dataZ.push([time, sample.az])
  end

%>

<%= line_chart dataX, discrete: true, library: {
    # google charts options
    enableInteractivity: false,
    curveType: 'none',
    pointSize: 0,
    title: 'Dane z akcelerometru - oś X',
    hAxis: {title: 'Czas [s]'},
    vAxis: {title: 'Przyspieszenie [a.u.]'},
    colors: ['purple'],
    
} %>

<%= link_to 'Back', {:action => 'list'} %>